<html>
    <head>
        <meta charset="utf-8" />
        <title>Board_Project</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>

<!-- handlebars 엔진의 기본 레이아웃은 /views/layouts/main.handlebars 경로에 위치하며, body 부분에 render의 첫번째 매개변수 파일의 코드들이 들어가게 됨-->
